<!DOCTYPE html>
<html @Html.Raw(Theme.SetHtmlAttributes("html"))>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Frontend</title>
    <meta name="description" content="Frontend Implementation for ASP .Net Core & CoreJS" />
    <meta name="keywords" content="asp, net, core, frontend, corejs" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="" />

    <!--begin::Favicon-->
    <link rel="shortcut icon" href="@Theme.GetFavicon()" />
    <!--end::Favicon-->

    <!--begin::Fonts-->
    @foreach (string font in Theme.GetFonts())
    {
        <link rel="stylesheet" href="@font" />
    }
    <!--end::Fonts-->

    <!--begin::Vendor Stylesheets Assets (optional)-->
    @foreach (string stylesheet in Theme.GetVendors("css"))
    {
        <link rel="stylesheet" type="text/css" href="@stylesheet" />
    }
    <!--end::Vendor Stylesheets Assets-->

    <!--begin::Global Stylesheets Assets (mandatory)-->
    @foreach (string stylesheet in Theme.GetGlobalAssets("css"))
    {
        <link rel="stylesheet" type="text/css" href="@stylesheet" />
    }
    <!--end::Global Stylesheets Assets (mandatory)-->

    <!--begin::Custom Stylesheets Assets (optional)-->
    @foreach (string stylesheet in Theme.GetCssFiles())
    {
        <link rel="stylesheet" type="text/css" href="@stylesheet" />
    }
    <!--end::Custom Stylesheets Assets (optional)-->
</head>

<!--begin::Body-->
<!body @Html.Raw(Theme.SetHtmlAttributes("body")) class="@Html.Raw(Theme.SetHtmlClasses("body"))">
    <partial name="~/Views/Partials/_Init.cshtml" />
    
    @RenderBody()

    <!--begin::Global Scripts (mandatory)-->
    @foreach (string file in Theme.GetGlobalAssets("scripts"))
    {
        <script src="@file"></script>
    }
    <!--end::Global Scripts (mandatory)-->

    <!--begin::Vendors Javascript(optional)-->
    @foreach (string file in Theme.GetVendors("scripts"))
    {
        <script src="@file"></script>
    }
    <!--end::Vendors Javascript-->

    <!--begin::Custom Javascript(optional)-->
    @foreach (string file in Theme.GetJavaScriptFiles())
    {
        <script src="@file"></script>
    }
    <!--end::Custom Javascript-->
</!body>
<!--end::Body-->
</html>
